:root {
    --primary-color:#d73953;
    --black-color: #090909;
    --white-color: #ffffff;
    --light-gray-color: #f3f3f3;
    --dark-gray-color: #353535;
    --text-color: var(--black-color);
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--text-color);
}

a {
    color: var(--text-color);
}

.visually-hidden {
    display: none;
}

.card-category {
    color: var(--primary-color)
}

.section-tagline {
    color: var(--primary-color)
}